*~
*.swp
*.o
*.gcda
*.gcno
cscope.out
cscope.files
cppcomplete.tags
tags
vgcore.*
*.so
lib*.so.*
lib*.a
lib*.la
*.lo
Makefile
Makefile.in
TAGS
.venv

.eggs
*.mo
.venv
*.pyc
*.egg-info
__pycache__/
dist/
build/

*.log*
*.pid

doc/html
